* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  border-bottom: #4255ff;
}

nav li {
  margin-right: 40px;
  font-weight: bold;
}

nav li a {
  color: black;
  text-decoration: none;
}

nav li h3:hover {
  cursor: pointer;
}

.logo img {
  height: 40px;
}

.search input {
  padding: 5px;
  border: none;
  border-radius: 20px;
  outline-style: none;
}

.search button {
  background-color: #4255ff;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

#hero {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  font-size: 3em;
}

input {
  width: 500px;
  background-color: #f6f7fb;
}

.dropdown button {
  background-color: white;
  border: none;
  color: black;
  font-weight: bold;
}

.TC:hover {
  border-bottom: #4255ff;
}

img {
  width: 100%;
}

.image-1 {
  position: relative;
}

.image-1-1 {
  position: absolute;
  top: 25%;
  left: 10%;
  font-size: 24px;
  color: white;
  padding: 10px;
  width: 500px;
}

.text-1 {
  width: 1000px;
}

.img-1 {
  width: 900px;
  margin-left: 100px;
}

#features {
  display: flex;
  height: 400px;
}

.img-2 {
  width: 400px;
}

#superman {
  display: flex;
  height: 500px;
}

.text-2 {
  width: 500px;
  margin-left: 100px;
}

.img-3 {
  width: 500px;
  margin-left: 100px;
  padding-top: 70px;
}

#batman {
  display: flex;
}

.text-3 {
  width: 550px;
}

#aquaman {
  display: flex;
  margin-top: 100px;
}

.img-4 {
  width: 900px;
  padding-top: 80px;
}

.text-4 {
  margin-left: 80px;
}

#Theflash {
  text-align: center;
}

#wonderwoman {
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.img-text1 {
  width: 300px;
}

#blackadam {
  display: flex;
  background-color: #dbdfff;
  height: 600px;
  display: flex;
  padding-top: 50px;
  padding-left: 250px;
}

.text-5 {
  width: 400px;
  height: 100%;
}

.img-5 {
  margin-left: 70px;
}

#cyborg {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.img-6 {
  width: 150px;
  margin-right: 50px;
  margin-bottom: 20px;
}

#phoenix {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.text-11 {
  padding-left: 100px;
  padding-top: 30px;
}
